.ReportBuilderWrapper {
  .header {
    font-size: 24px;
  }

  .ant-descriptions-item.editing {
    .ant-descriptions-item-label {
      width: 100%;
    }
  }

  .ant-descriptions-item-label {
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-1);
    display: table-cell;
  }

  .ant-descriptions-item-content {
    color: var(--color-9);
    display: table-cell;
  }

  .ant-descriptions-view {
    .title-fileType {
      display: none;
    }

    .label-fileType {
      display: block;
    }

    .title-tableList {
      display: block;
    }

    .label-tableList {
      display: block;
    }

    .title-columnList {
      display: block;
    }

    .label-columnList {
      display: block;
    }

    .title-columnItem {
      display: block;
    }

    .label-columnItem {
      display: block;
    }

    .title-filtering {
      display: block;
    }

    .label-filtering {
      display: block;
    }

    .title-orderBy {
      display: block;
    }

    .label-orderBy {
      display: block;
    }

    .title-advance {
      display: block;
    }

    .label-advance {
      display: block;
    }

    .label-advance-mandatory {
      display: block;
    }

    .label-advance-mandatory::before {
      content: "* ";
      color: var(--color-1);
      margin-left: -10px;
    }

    .title-reportName {
      display: block;
    }

    .label-reportName {
      display: block;
    }
  }

  .btn-rowAction {
    margin-right: 8px;
  }

  .btn-tabAction {
    margin-right: 8px;
  }

  .disabled-btn {
    opacity: 0.5;
  }

  .steps-action{
    margin-bottom: 24px;
  }
}
