.ReportTemplateWrapper {
  .header {
    font-size: 24px;
  }

  .ant-descriptions-item.editing {
    .ant-descriptions-item-label {
      width: 100%;
    }
  }

  .ant-descriptions-item-label {
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-1);
    display: table-cell;
  }

  .ant-descriptions-item-content {
    color: var(--color-9);
    display: table-cell;
  }

  .ant-descriptions-view {
    .label-fileType {
      display: block;
    }

    .label-tableList {
      display: block;
    }

    .label-columnList {
      display: block;
    }

    .label-columnItem {
      display: block;
    }

    .label-filtering {
      display: block;
    }

    .label-orderBy {
      display: block;
    }

    .label-advance {
      display: block;
    }

    .label-advance-mandatory {
      display: block;
    }

    .label-advance-mandatory::before {
      content: "* ";
      color: var(--color-1);
      margin-left: -10px;
    }
  }

  .btn-pageAction {
    margin-right: 8px;
  }

  .list-advance, .list-parameter {
    .ant-list-item {
      border-bottom: none !important;
    }
  }

  .row-advance {
    .label-table-column {
      width: 400px;
      display: table-cell;
    }
  
    .label-comparator {
      width: 20px;
      display: table-cell;
    }
  
    .label-mandatory {
      width: 10px;
      color: var(--color-1);
      display: table-cell;
    }
  
    .label-value {
      width: 200px;
      display: table-cell;
    }
  }
}
