::selection {
  color: var(--color-0) !important;
  background: var(--color-1) !important;
}

.ant-btn {
  color: var(--color-0) !important;
  background: var(--color-btn-base) !important;
  background-color: var(--color-btn-base) !important;
  border-color: var(--color-btn-border) !important;
  border-radius: 4px !important;
}

.ant-btn:hover, .ant-btn:focus {
  color: var(--color-0) !important;
  background-color: var(--color-btn-focus) !important;
  border-color: var(--color-btn-border-focus) !important;
  box-shadow: 0 0 0 2px var(--color-btn-shadow-focus) !important;
}

.ant-btn-dangerous {
  color: var(--color-0) !important;
  background-color: var(--color-1) !important;
  border-color: var(--color-2) !important;
}

.ant-btn-dangerous:focus, .ant-btn-dangerous.focus {
  color: var(--color-0) !important;
  background-color: var(--color-3) !important;
  border-color: var(--color-5) !important;
}

.ant-btn-dangerous:hover {
  color: var(--color-0) !important;
  background-color: var(--color-3) !important;
  border-color: var(--color-4) !important;
}

.ant-btn-dangerous:active, .ant-btn-dangerous.active, .open>.dropdown-toggle.ant-btn-dangerous {
  color: var(--color-0) !important;
  background-color: var(--color-3) !important;
  background-image: none;
  border-color: var(--color-4) !important;
}

.ant-btn-dangerous:active:hover, .ant-btn-dangerous.active:hover, .open>.dropdown-toggle.ant-btn-dangerous:hover, .ant-btn-dangerous:active:focus, .ant-btn-dangerous.active:focus, .open>.dropdown-toggle.ant-btn-dangerous:focus, .ant-btn-dangerous:active.focus, .ant-btn-dangerous.active.focus, .open>.dropdown-toggle.ant-btn-dangerous.focus {
  color: var(--color-0) !important;
  background-color: var(--color-4) !important;
  border-color: var(--color-5) !important;
}

.ant-btn-dangerous.disabled:hover, .ant-btn-dangerous[disabled]:hover, fieldset[disabled] .ant-btn-dangerous:hover, .ant-btn-dangerous.disabled:focus, .ant-btn-dangerous[disabled]:focus, fieldset[disabled] .ant-btn-dangerous:focus, .ant-btn-dangerous.disabled.focus, .ant-btn-dangerous[disabled].focus, fieldset[disabled] .ant-btn-dangerous.focus {
  background-color: var(--color-1)important;
  border-color: var(--color-1) !important;
}

.ant-btn-dangerous .badge {
  color: var(--color-1) !important;
  background-color: var(--color-0) !important;
}

.ant-btn-primary {
  color: var(--color-0) !important;
  background: var(--color-btn-base) !important;
  background-color: var(--color-btn-base) !important;
  border-color: var(--color-btn-border) !important;
/*
  background: var(--color-1) !important;
  background-color: var(--color-1) !important;
  border-color: var(--color-2) !important;
*/
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: var(--color-0) !important;
  background-color: var(--color-btn-focus) !important;
  border-color: var(--color-btn-border-focus) !important;
/*
  background-color: var(--color-3) !important;
  border-color: var(--color-4) !important;
*/
}

.ant-form-item {
  margin-bottom: unset;
}

.ant-input:hover, .ant-input:focus, .ant-input-focused {
  border-color: var(--color-input-border-focus) !important;
  box-shadow: 0 0 0 2px var(--color-input-shadow-focus) !important;
}

.ant-input-borderless, .ant-input-borderless:hover, .ant-input-borderless:focus, .ant-input-borderless-focused, .ant-input-borderless-disabled, .ant-input-borderless[disabled] {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.ant-input-affix-wrapper {
  input.ant-input:focus, input.ant-input:hover {
    box-shadow: none !important;
  }

  input.ant-input {
    border: none !important;
    outline: none !important;
  }
}

.ant-input-affix-wrapper:hover, .ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
  border-color: var(--color-input-border-focus) !important;
  box-shadow: 0 0 0 2px var(--color-input-shadow-focus) !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: var(--color-1) !important;
}

.ant-pagination-item:focus, .ant-pagination-item:hover {
  border-color: var(--color-input-border-focus) !important;
}

.ant-pagination-item:focus a, .ant-pagination-item:hover a {
  color: var(--color-1) !important;
}

.ant-popover-content {
  max-width: 1000px;
  word-break: break-all;
  word-wrap: break-word;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: var(--color-input-border-focus) !important;
}

.ant-select-focused.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-color: var(--color-input-border-focus) !important;
  box-shadow: 0 0 0 2px var(--color-input-shadow-focus) !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: var(--color-0) !important;
  border-color: var(--color-1) !important;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: var(--color-1) !important;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: var(--color-1) !important;
}

.ant-steps-item-icon .ant-steps-icon {
  color: var(--color-1) !important;
}

.ant-steps-item-process .ant-steps-item-icon {
  background: var(--color-1) !important;
  border-color: var(--color-1) !important;
}

.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
  color: var(--color-1) !important;
}

.ant-steps-item-process .ant-steps-item-icon .ant-steps-icon {
  color: var(--color-0) !important;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: var(--color-1) !important;
}

.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
  color: rgba(0, 0, 0, 0.45) !important;
}

.ant-tabs-ink-bar {
  background: var(--color-1) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--color-1) !important;
}

.ant-tabs-tab:hover {
  color: var(--color-2) !important;
}

.ant-tooltip {
  .ant-tooltip-content .ant-tooltip-inner {
    background-color: var(--color-0) !important;
    color: var(--color-9) !important;
  }
}

