.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  //   background: red;
  z-index: 999;
}

.ant-table table {
  width: 100% !important;
}