.ReportBuilderAdvanceWrapper {
  .header {
    font-size: 24px;
  }

  .table-advance {
    table {
      width: 1000px !important;
    }

    tbody td.ant-table-cell {
      .ant-select {
        width: 100%;
      }
    }

    .ant-empty {
      height: 32px;
    }

    .ant-empty.ant-empty-normal {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ant-empty-image {
      display: none;
    }
  }
}
