.ReportAdvanceWrapper {
  .header {
    font-size: 24px;
  }

  .ant-descriptions-item.editing {
    .ant-descriptions-item-label {
      width: 100%;
    }
  }

  .note{
    font-size: 12px;
  }

  .ant-descriptions-item-label {
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-1);
    display: table-cell;
  }

  .ant-descriptions-item-content {
    color: var(--color-9);
    display: table-cell;
  }

  .input-sql {
    width: 1200px;
    height: 2000px;
  }

  .input-reportName {
    width: 75%;
  }

  .btn-tabAction {
    margin-right: 8px;
  }
}