.ShieldWrapper {
  .header {
    font-size: 24px;
  }

  h3 {
    font-size: large;
    text-align: center;
  }

  .table {
    display: table;
    width: 100%;
  }

  .tableCellIcon {
    display: table-cell;
    width: 35%;
    text-align: right;
    vertical-align: middle;
  }

  .tableCellText {
    display: table-cell;
  }

  .tableCellText h3 {
    text-align: left;
    margin-left: 20px;
  }
}