.site-layout {
  header.site-layout-background {
    height: 70px;
    background: var(--color-9);
    padding: 0;
  }

  header.site-layout-background span:first-of-type {
    color: var(--color-0);
  }

  header {
    .headMenu {
      padding-left: 10px;
      font-size: 20px;
    }

    .headLogo {
      margin-right: 10px;
    }
    
    .headTitle {
      font-size: 20px;
      color: var(--color-0);
    }

    .headUserInfo {
      float: right;
      padding-right: 20px;
      display: flex;
      align-items: center;
    }

    .headUserInfo .select-userRole {
      width: 120px;
    }

    .headUserInfo .input-userRole {
      width: 120px;
      background-color: transparent !important;
      border-color: transparent !important;
      color: var(--color-0) !important;
      padding: 0;
    }

    .headUserInfo .input-userRole:hover, .headUserInfo .input-userRole:focus {
      box-shadow: 0 transparent !important;
    }

    .headUserInfo > div {
      padding-left: 10px;
    }
  }
}
