.ReportDownloadDetailTabWrapper {
  .header {
    font-size: 24px;
  }

  .btn-tabAction {
    margin: 1px;
  }

  .td-reportDownloadContent {
    width: 100%;
  }

  .td-blobContent {
    width: 100%;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  .report-desc {
    align-items: center;
    height: 32px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
  }
}
