.SavedSearchScheduleTabWrapper {
  .header {
    font-size: 24px;
  }

  .ant-row {
    justify-content: center;
  }

  .row-scheduleList.ant-list-bordered {
    border: 0 none;
    border-radius: 0;
  }

  .row-scheduleList {
    width: 100%;

    .hdr-title {
      font-size: 20px;
      margin-right: 10px;
    }

    .hdr-title::after {
      content: ":";
    }

    .hdr-reportName {
      font-size: 20px;
    }
  }

  .row-scheduleItem {
    justify-content: start;

    .anticon.icon-schedule {
      font-size: 24px;
      margin: 0 10px 10px 0;
      padding-top: 8px;
    }
  }

  .item-form {
    width: 100%;

    input:read-only {
      border-color: transparent !important;
      box-shadow: 0 0 0 2px transparent !important;
      cursor: default;
    }
  }

  .item-field {
    padding-right: 5px;
  }

  .item-field-item {
    display: inline-block;

    .ant-form-item-control {
      display: inline-block;
      max-width: 50px;
    }

    input {
      width: 50px;
      text-align: center;
    }
  }

  .btn-pageAction {
    margin-right: 8px;
  }

  .btn-rowAction {
    margin-right: 4px;
  }
}