.DataExportSummaryTabWrapper {
  .header {
    font-size: 42px;
  }

  .row-reportHighline {
    width: 100%;

    .ant-typography {
      color: var(--color-title);
    }
  }

  div.row-reportContainer {
    width: 100%;

    .ant-row {
      justify-content: center;
    }

    .row-reportList {
      width: 100%;
    }

    .row-reportItem {
      justify-content: start;

      .anticon.icon-report {
        font-size: 24px;
        margin: 0 10px 10px 0;
        padding-top: 8px;
      }
    }
  }

  .card-report {
    width: 10%;
    margin: 1%;
  }
}