.ReportDownloadOnlineTabWrapper {
  .header {
    font-size: 24px;
  }

  .row-reportHighline {
    width: 100%;
    display: none;

    .ant-typography {
      color: var(--color-title);
    }
  }

  .row-reportContainer {
    width: 100%;

    .ant-row {
      justify-content: center;
    }

    .anticon.icon-state {
      font-size: 40px;
      margin-bottom: 10px;
    }
  }

  .row-reportIcon {
    text-align: center;
  }

  .row-reportName {
    text-align: center;
  }

  .row-reportDate {
    text-align: center;
  }

  .card-report {
    width: 10%;
    margin: 1%;
  }
}