.ReportCategoryAccessTabWrapper {
  .header {
    font-size: 24px;
  }

  .table-groupList {
    width: 100%;
  }

  .row-groupList.ant-list-bordered {
    border: 0 none;
    border-radius: 0;
  }

  .row-groupList {
    width: 100%;

    .hdr-title {
      font-size: 20px;
      margin-right: 10px;
    }

    .hdr-title::after {
      content: ":";
    }

    .hdr-reportName {
      font-size: 20px;
    }

    .ant-select {
      width: 300px;
    }
  }

  .btn-pageAction {
    margin-right: 8px;
  }
}