.loginFormRoot {
  margin: 0 auto;
  padding-top: 10%;

  .loginWrappedForm {
    width: 800px;
    margin: 0 auto !important;
    border: 1px solid var(--color-page-border);
    border-radius: 10px;
  }

  .loginWrappedFormLS {
    width: 320px;
    height: 400px;
    text-align: center;
    background-color: var(--color-1) !important;
    border-radius: 10px 0 0 10px;
    display: table-cell;
  }

  .loginWrappedFormRS {
    width: 480px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }

  .loginLogo img {
    width: 100%;
    border-radius: 10px 0 0 0;
  }

  .loginWelcome {
    font-size: 22px;
    padding-top: 30px;
    color: var(--color-0) !important;
  }

  .loginVersion {
    width: 800px;
    margin: 0 auto !important;
    font-size: 10px;
    padding-right: 10px;
    text-align: right;
    color: var(--color-footer) !important;
  }

  .loginVersion::before {
    content: "version";
    padding-right: 5px;
  }

  .loginBrand {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 1;
    font-size: 40px;
    display: inline-block;
  }

  .loginPanel {
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 1;
    font-size: 28px;
    display: inline-block;
  }

  .loginHeading {
    text-align: center;
    font-size: 18px;
    color: #111;
    margin-top: 30px;
  }

  .loginForm {
    width: 250px;
  }

  .loginFormInputWidth {
    max-width: 250px;
    margin: 0 auto !important;
  }

  .loginInput {
    height: 35px;
    margin-top: 20px;
   }

   .loginFormButton {
    width: 100%;
    height: 35px;
    left: 0%;
    margin-top: 52px;
    font-size: 12px;

    .btn-primary {
      background-color: #111;
      border-color: #110;
    }

    .btn-primary:hover {
      background-color: #111;
      border-color: #110;
    }
  }

  .messageAlertComponent {
    width: 100%;
  }
}
