:root {
  --full-view-height: 100vh;
  --full-view-width: 100vw;
  --head-height: 120px;
  --menu-width: 350px;
  --menu-search-height: 60px;
  --menu-item-height: 40px;
  --margin: 10px;
  --color-0: rgb(255, 255, 255);
  --color-1: rgb(193, 39, 45); /*#c1272d*/
  --color-2: rgb(172, 35, 40); /*#ac2328*/
  --color-3: rgb(151, 30, 35); /*#971e23*/
  --color-4: rgb(121, 24, 28); /*#79181c*/
  --color-5: rgb(66, 13, 15); /*#420d0f*/
  --color-9: rgb(0, 0, 0);

  --color-asider: rgb(53, 55, 61); /*#35373d*/
  --color-footer: rgba(56, 56, 56, 0.8);
  --color-page-title: rgb(168, 16, 16); /*#a81010*/
  --color-page-base: rgb(245, 245, 245); /*f5f5f5*/
  --color-page-border: rgb(221, 221, 221); /*#ddd*/
  --color-input-border: rgb(217, 217, 217); /*#d9d9d9*/
  --color-input-shadow: rgb(170, 170, 170); /*#aaa*/
  --color-input-border-focus: rgb(168, 16, 16);
  --color-input-shadow-focus: rgba(168, 16, 16, 0.2);
  --color-btn-base: rgb(130, 130, 130); /*#828282*/
  --color-btn-border: rgb(117, 117, 117); /*#757575*/
  --color-btn-focus: rgb(42, 42, 42); /*#666*/
  --color-btn-border-focus: rgb(42, 42, 42);
  --color-btn-shadow-focus: rgba(168, 16, 16, 0.2);
  --color-row-focus: rgba(168, 16, 16, 0.3);
  --color-tag-base-red: rgb(255, 241, 240); /*#fff1f0*/
  --color-tab-group-label: rgb(255, 255, 255);
  --color-tab-group-base: rgb(168, 16, 16);
  --color-tab-group-border: rgb(221, 221, 221);
  --color-tab-item-label: rgb(49, 112, 143); /*#31708f*/
  --color-tab-item-base: rgb(217, 237, 247); /*#d9edf7*/
  --color-tab-item-border: rgb(188, 232, 241); /*#bce8f1*/
  --color-title: rgba(0, 0, 0, 0.65);

  --xolor-input-shadow-focus: rgba(193, 39, 45, 0.2);
}

html {
  --antd-wave-shadow-color: rgb(168, 16, 16) !important;
  --scroll-bar: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: #fff !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
}

#id {
  height: 100%;
}

.buttonRelative {
  position: relative;
  z-index: 1;
  width: calc(100% - 560px);
}

.sysTabs {
  width: 100%;
  margin-top: 0;
  margin-bottom: 1rem;
  border: 2px solid #e2f0d9;
  padding: 15px;
}

.sysTitle {
  min-height: 34px;
  margin-top: 5px;
  padding-right: 0px !important;

  position: relative;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  height: 32px;
  font-size: 14px;
  text-align: right;
}

.sysInput {
  height: auto;
  min-height: 34px;
  margin-top: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.sysInputNumber {
  color: #555;
  width: 100%;
}

.sysTable {
  width: 100%;
}

.sysTable tr:nth-child(odd) {
  background: #f3f6ff;
}

.sysTable tr:nth-child(even) {
  background: #fff;
}

.tableTop {
  margin-top: -65px;
}

.tableWidth40 {
  width: 40%;
}
