.ReportAccessGroupDetailTabWrapper {
  .header {
    font-size: 24px;
  }

  .ant-descriptions-item.editing {
    .ant-descriptions-item-label {
      width: 100%;
    }
  }

  .ant-descriptions-item-label {
    width: 230px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-1);
    display: table-cell;
  }

  .ant-descriptions-item-content {
    color: var(--color-9);
    display: table-cell;
  }

  .input-accessGroupName {
    width: 75%;
  }

  .input-accessGroupName:read-only {
    border-color: transparent !important;
    box-shadow: 0 0 0 2px transparent !important;
  }

  .btn-tabAction {
    margin-right: 8px;
  }
}